.equipmentItem {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-block-features);
  mix-blend-mode: multiply;
  max-height: 44px;
}

.equipmentName {
  color: var(--color-main);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0;
}
