.ratingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.rating {
  color: var(--color-main);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration-line: underline;
  margin: 0;
}

.ratingStarOn {
  fill: var(--color-rating);
  stroke: var(--color-rating);
  stroke-width: 1.2px;
}
