:root {
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-main: #101828;
  --color-inputs: #f7f7f7;
  --color-block-features: #f2f4f7;
  --color-rating: #ffc531;
  --color-text: #475467;
}
