.ratingStarsList {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  list-style: none;
}

.ratingStarOn {
  fill: var(--color-rating);
  stroke: var(--color-rating);
  stroke-width: 1.2px;
}

.ratingStarOff {
  fill: var(--color-block-features);
  stroke: var(--color-block-features);
  stroke-width: 1.2px;
}
