.header {
  background-color: var(--color-text);
  color: white;
  padding: 10px 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navItem a {
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--color-block-features);
  transition: color 0.3s ease;
}

.link:hover {
  color: #ccc;
}

.navItem .activeLink {
  color: var(--color-rating);
}
