@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper .react-datepicker__view-calendar-icon input {
  padding: 18px;
}

.react-datepicker-wrapper
  .react-datepicker__input-container
  .react-datepicker__calendar-icon {
  padding: 0;
  width: 20px;
  height: 20px;
}

.react-datepicker__month-container .react-datepicker__month {
  margin: 0;
}

.react-datepicker__month-container .react-datepicker__header {
  background-color: #fff;
  padding: 0;
  border: none;
}

.react-datepicker__header .react-datepicker__current-month {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.react-datepicker__header .react-datepicker__day-names {
  margin-bottom: 0px;
}

.react-datepicker .react-datepicker__navigation--previous {
  top: 16px;
  left: 16px;
}

.react-datepicker .react-datepicker__navigation--next {
  top: 16px;
  right: 16px;
}

.react-datepicker .react-datepicker__navigation {
  width: 24px;
  height: 24px;
}
