.homepage {
  text-align: center;
}

.hero {
  padding: 50px;
  background: url('/images/hero.jpg') center no-repeat;
  background-size: cover;
}

.title {
  font-size: 48px;
  color: var(--color-inputs);
}

.subtitle {
  font-size: 24px;
  color: var(--color-block-features);
}

.ctaButton {
  width: 220px;
  display: inline-flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-style: none;
  border-radius: 200px;
  background: var(--color-button);
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;
}

.ctaButton:hover,
.ctaButton:focus {
  background: var(--color-button-hover);
}

.features {
  padding: 50px 0;
}

.featuresTitle {
  font-size: 36px;
  color: var(--color-text);
  margin-bottom: 30px;
}

.featuresList {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.featureItem {
  max-width: 200px;
}

.featureTitle {
  font-size: 24px;
  color: var(--color-main);
  margin-bottom: 15px;
}

.featureDescription {
  font-size: 16px;
  color: var(--color-text);
  text-align: left;
}
