/* src/pages/HomePage/HomePage.module.css */
.homepage {
  text-align: center;
}

.hero {
  padding: 50px;
  background: url('/images/hero.jpg') center no-repeat;
  background-size: cover;
}

.title {
  font-size: 48px;
  color: #f7f7f7;
}

.subtitle {
  font-size: 24px;
  color: #f2f4f7;
}

.ctaButton {
  width: 220px;
  display: inline-flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-style: none;
  border-radius: 200px;
  background: #e44848;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;
}

.ctaButton:hover,
.ctaButton:focus {
  background: #d84343;
}

.features {
  padding: 50px 0;
}

.featuresTitle {
  font-size: 36px;
  color: #475467;
  margin-bottom: 30px;
}

.featuresList {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.featureItem {
  max-width: 200px;
}

.featureTitle {
  font-size: 24px;
  color: #ffc531;
  margin-bottom: 15px;
}

.featureDescription {
  font-size: 16px;
  color: #475467;
}
